* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
}
h1::after {
  content: "";
  background: #002366;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
/*--NAVBAR--*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
#nav-bar p {
  color:  #002366;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  width: 80px;
  margin: 0;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  padding: 0 10px;
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  color: #000 !important;
}
.navbar {
  background: #fff;
  color:  #002366;
}
.navbar button {
  border: none !important;
}
.nav-link {
  color:  #002366 !important;
  font-weight: 600;
  font-size: 1rem;
}
/*--Slider--*/
#slider {
  width: 100%;
}
/*--Landing--*/
#landing {
  background: url("images/landing.jpg") no-repeat center/cover;
  height: 670px;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
}
/*--About--*/
#about {
  background: #efefef;
  height: 670px;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #000;
}
#about .btn {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-content {
  padding-top: 25px;
}
/*--products--*/
#products {
  padding: 50px 0;
  background: #efefef;
}

.single-product {
  margin: 10px auto;
  display: inline;
  float: left;
  width: 100%;
  background: #fff;
  transition: 0.5s;
}
.single-product:hover {
  box-shadow: 0 2px 20px #333;
}
.product-head {
  background: #fff;
  display: inline;
  float: left;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  border: 3px solid #000;
}
.product-head h2 {
  color:  #002366;
  font-size: 30;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  text-transform: uppercase;
}
.product-head p {
  font-size: 25px;
  color:  #002366;
  font-weight: bold;
  line-height: 30px;
}
.product-content {
  display: inline;
  background: #fff;
  border: 3px solid #000;
  float: left;
  width: 100%;
  padding: 0 15px;
}
.product-content ul li {
  border-bottom: 1px solid #fff;
  list-style: none;
}
ul li:last-child {
  border: none;
}
a {
  text-decortion: none !important;
  color: #fff !important;
}
/*--Promo--*/
#promo {
  background: url(images/promo.jpg) center center/cover;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
  padding-bottom: 50;
}
#promo h1 {
  font-weight: 800;
  font-size: 72px;
}
#promo p {
  font-family: sans-serif;
  font-size: 36;
}
#promo a {
  margin-top: 30px;
}
/*--Reviews--*/
#reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}
.tag {
  margin-bottom: 100px;
  font-size: 32px;
}
#reviews .row {
  margin: 30px;
}
#review .col-md-4 {
  margin: 40px auto;
}
.profile {
  padding: 70px 10px 10px;
}
.user {
  width: 120px;
  height: 120px;
}
.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10 px solid #fff;
}
.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color:  #002366;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color:  #002366;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote::after {
  color:  #002366;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}
/*--Contact--*/
#contact {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}
.contact-form {
  padding: 15px;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
}
::placeholder {
  color: #999 !important;
}
.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}
.follow a{

  color:#777 !important;
  padding: 5px;
}
#contact button {
  background:  #002366;
  border: none;
  color: #fff;
}
/*--Footer--*/
#footer {
  background: #fff;
  padding: 15px;
  text-align: center;
}

.heading {
  font-size: 28px;
  font-weight: 500;
}
footer ul li {
  color: #000;
  list-style: none;
  color:  #002366;
}
footer a {
  color: #000 !important;
  font-family: Trebuchet;
}
footer a:hover {
  color:  #002366 !important;
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 960px){
  .about{
    height:1200vh;
    padding-top: 20px;
  }
}